<div class="row  ">
  <div [class]="mapWidth">
    <mat-card class="p-0">
      <mat-card-content class="p-0">
        <agm-map [id]="mappa" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom" class="map-height">
          <div *ngFor="let travel of travels">
            <agm-marker *ngFor="let tappa of travel.tappe    "
                        [latitude]="tappa.latitude"
                        [longitude]="tappa.longitude"
                        [title]="'Viaggio: ' + travel.title + ', tappa: '+ tappa.location"
                        [iconUrl]="'assets/images/marker.png'"
                        (markerClick)="clickedMarker(travel, tappa)"
            >

              <agm-snazzy-info-window [maxWidth]="600" [closeWhenOthersOpen]="true"  >
                <ng-template>
                  Tappa <strong>{{tappa.location}}</strong>  del viaggio <strong>{{travel.title}}</strong>
                </ng-template>
              </agm-snazzy-info-window>
            </agm-marker>
          </div>
        </agm-map>
      </mat-card-content>
    </mat-card>
  </div>



  <div *ngIf="currentTravel" class="col-md-4 pl-0 ml-0 ">
    <mat-card class="travel-card map-height">
      <mat-card-content *ngIf="currentTravel" class="">
        <a (click)="closeCurrentTravel()">
          <button type="button" class="close pull-right" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </a>
        <h3>Viaggio: {{currentTravel.title}}</h3>
        <h4>Tappa: {{currentTappa.location}}</h4>
        <img class="w-50 cover-travel-select" src="{{travelCoverPath + currentTravel.cover }}" alt="{{currentTravel.title}}">
        <span class="description">{{currentTravel.description | slice:0:300}}</span>
        <a class="w-100 " href="#" routerLink="/travel/{{currentTravel.id}}">
          <button class="btn btn-primary btn-sm">leggi</button>
        </a>
      </mat-card-content>
    </mat-card>
  </div>
</div>
