<!-- Header -->
<div id="header" >
	<!-- Nav -->
	<nav id="nav" class="nav_bar">
		<ul>
			<!-- <li><a href="index.html">Home</a></li> -->
			<li><a href="#" [routerLink]="['/']">Home</a> </li>
			<li><a href="#" [routerLink]="['/travels']">Travels</a> </li>


			<ng-template [ngIf]="!this.AuthAppService.isAuthenticated()">
				<li><a href="#" [routerLink]="['/signup']">Signup</a> </li>
				<li><a href="#" [routerLink]="['/signin']">Signin</a> </li>
			</ng-template>

			<ng-template [ngIf]="this.AuthAppService.isAuthenticated()">
				<li>Ciao {{this.AuthAppService.user }}</li>
				<li><a href="#" (click)="logout()">Logout</a> </li>
			</ng-template>


		</ul>
	</nav>

</div>
<!-- Banner -->