.navbar {
  background-color:#009D57 !important;
  color: whitesmoke;
  text-decoration: dotted;
}


.navbar > .container, .navbar > .container-fluid {
  display: inline-flex !important;
}


.material-icons{
  font-size: 30px;
}


.navbar-brand-custom {
  background-color: white;
  padding: 3px;
  overflow-y: hidden;
  border-radius: 5px;
  margin-top: 0px;
  padding-top: 6px;
  border: solid 1px lightgray;
  height: 31px;
  margin-right: 10px;


  /*#000000*/
}
.profilo {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin-top: 3px;
  margin-right: 4px;
}

.header_search_result_list {
  position: absolute;
  margin-top: 35px;
  background-color: whitesmoke;
  padding: 0px;
  border-radius: 3px;
  border: 1px solid grey;
}

.header_search_result_item {
  color: darkslategray;
  font-size: 15px;
  border-top: 1px dotted grey;
  padding: 0px 3px;
}

.header_search_result_item a:hover {
  color: #009D57;
}


.form-inline  {
  align-items: baseline !important;
}

.middler{
  font-size: 35px;
}

.smaller{
  font-size: 25px;
}
