<div class="container">

  <div class="row my-1">
    <div class="col col-md-12">
      <mat-card>
      <form
        #itinearioForm="ngForm"
        class=" "
        *ngIf="objTravel"
      >
        <!--<div ng2FileDrop=""-->
             <!--[ngClass]="{'nv-file-over': hasBaseDropZoneOver}"-->
             <!--(fileOver)="upload_cover($event)"-->
             <!--[uploader]="uploader_cover"-->
             <!--class="well my-drop-zone "-->
             <!--[style.background-image]="backgroundImg">-->
          <!--<img [src]="coverUrl" class="w-100 img-thumbnail"/>-->
        <!--</div>-->


        <div class="form-group">
          <input
            type="text"
            class="form-control mt-2"
            id="title"
            name="title"
            placeholder="Titolo del viaggio"
            [(ngModel)]="objTravel.title"
            required
          >
        </div>

        <div class="form-group">
          <textarea
            class="form-control mt-2"
            id="description"
            name="description"
            [(ngModel)]="objTravel.description"
            placeholder="Una descrizione dell'itinerario"
          ></textarea>
        </div>

        <div class="form-group">
          <textarea
            class="form-control mt-2"
            id="shortdescription"
            name="shortdescription"
            [(ngModel)]="objTravel.shortdescription"
            placeholder="Una breve descrizione dell'itinerario"
          ></textarea>
        </div>

        <div class="form-group">
          <input
            type="text"
            class="form-control mt-2"
            id="hashtag"
            name="hashtag"
            placeholder="Parole chiave del viaggio"
            [(ngModel)]="objTravel.hashtag"
            required
          >
        </div>

        <div class="form-group">
          <label for="geo">Geolocalizza</label>
          <input
            placeholder="cerca località"
            autocorrect="on"
            autocapitalize="on"
            spellcheck="off"
            type="text"
            class="form-control"
            #geo
            id="geo"
            name="geo"
            [formControl]="searchControl"
            [(ngModel)] = "objTravel.location"
          >
        </div>



        <button
          type="submit"
          class="btn btn-success"
          (click)="onSubmit()"
        >Salva
        </button>

      </form>
      </mat-card>
    </div>


    <!--<div class="col col-md-6">-->
      <!--<h4>Le tappe dell'itinerario</h4>-->
      <!--<div *ngFor="let itTravel of itinerariotravels">-->
        <!--<img-->
          <!--width="60"-->
          <!--class="img-thumbnail"-->
          <!--src="{{travelCoverPath+itTravel.cover}}"-->
        <!--/>-->
        <!--{{ itTravel.title }}-->

        <!--<span class="pull-right">-->
            <!--<i class='btn btn-xs' (click)='remove(itTravel)' class="btn fa fa-minus" aria-hidden="true"></i>-->
        <!--</span>-->
      <!--</div>-->
      <!--<hr>-->
      <!--Viaggi che puoi associare-->
      <!--<div *ngFor="let freeTravel of freetravels">-->
        <!--<img-->
          <!--width="60"-->
          <!--class="img-thumbnail"-->
          <!--src="{{travelCoverPath+freeTravel.cover}}"-->
        <!--/>-->
        <!--{{ freeTravel.title }}-->
        <!--<span class="pull-right">-->
            <!--<i class='btn btn-xs' (click)='add(freeTravel)' class="btn fa fa-plus" aria-hidden="true"></i>-->
        <!--</span>-->
      <!--</div>-->


    </div>
  </div>



