<!--<div class="container">-->

  <!--<div class="row my-1">-->
    <!--<div class="col col-md-6">-->
      <!--<mat-card>-->
      <!--<form-->
        <!--#itinearioForm="ngForm"-->
        <!--class=" "-->
        <!--*ngIf="itinerario"-->
      <!--&gt;-->
        <!--<div ng2FileDrop=""-->
             <!--[ngClass]="{'nv-file-over': hasBaseDropZoneOver}"-->
             <!--(fileOver)="upload_cover($event)"-->
             <!--[uploader]="uploader_cover"-->
             <!--class="well my-drop-zone "-->
             <!--[style.background-image]="backgroundImg">-->
          <!--<img [src]="coverUrl" class="w-100 img-thumbnail"/>-->
        <!--</div>-->


        <!--<div class="form-group">-->
          <!--<input-->
            <!--type="text"-->
            <!--class="form-control mt-2"-->
            <!--id="name"-->
            <!--name="name"-->
            <!--placeholder="Titolo dell'itinerario"-->
            <!--[(ngModel)]="itinerario.title"-->
            <!--required-->
          <!--&gt;-->
        <!--</div>-->

        <!--<div class="form-group">-->
          <!--<textarea-->
            <!--class="form-control mt-2"-->
            <!--id="description"-->
            <!--name="description"-->
            <!--[(ngModel)]="itinerario.description"-->
            <!--placeholder="Una breve descrizione dell'itinerario"-->
          <!--&gt;</textarea>-->
        <!--</div>-->

        <!--<button type="submit" class="btn btn-success" (click)="onSubmit()">Salva</button>-->

      <!--</form>-->
      <!--</mat-card>-->
    <!--</div>-->


    <!--<div class="col col-md-6">-->
      <!--<h4>Le tappe dell'itinerario</h4>-->
      <!--<div *ngFor="let itTravel of itinerariotravels">-->
        <!--<img-->
          <!--width="60"-->
          <!--class="img-thumbnail"-->
          <!--src="{{travelCoverPath+itTravel.cover}}"-->
        <!--/>-->
        <!--{{ itTravel.title }}-->

        <!--<span class="pull-right">-->
            <!--<i class='btn btn-xs' (click)='remove(itTravel)' class="btn fa fa-minus" aria-hidden="true"></i>-->
        <!--</span>-->
      <!--</div>-->
      <!--<hr>-->
      <!--Viaggi che puoi associare-->
      <!--<div *ngFor="let freeTravel of freetravels">-->
        <!--<img-->
          <!--width="60"-->
          <!--class="img-thumbnail"-->
          <!--src="{{travelCoverPath+freeTravel.cover}}"-->
        <!--/>-->
        <!--{{ freeTravel.title }}-->
        <!--<span class="pull-right">-->
            <!--<i class='btn btn-xs' (click)='add(freeTravel)' class="btn fa fa-plus" aria-hidden="true"></i>-->
        <!--</span>-->
      <!--</div>-->


    <!--</div>-->
  <!--</div>-->

<!--</div>-->

