
      <div ng2FileDrop
           [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
           (fileOver)="upload_images($event)"
           [uploader]="uploader"
           class="well my-drop-zone">


        Trascina qui le immagini del viaggio

      </div>
      <div class="progress" style="">
        <div class="progress-bar-fyl" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
      </div>


      <!--<input type="file" ng2FileSelect [uploader]="uploader" multiple  />-->
      <!--<input type="file" ng2FileSelect [uploader]="uploader" />-->

