<div class="container wizard-viaggio my-4 p-4">


  <form>
    <wizard navBarLayout="large-filled">

      <!--******************************************************************-->
      <!--BENVENUTO-->
      <!--******************************************************************-->

      <wizard-step stepTitle="Viaggio o itinerario?" class="text-center" >
        <div class="mt-3 p-4">
          <h2>Benvenuto viaggiatore!</h2>
        </div>

        <div class="mt-3">
          <button   type="button" class="btn mt-3" nextStep>Inizia</button>
        </div>
      </wizard-step>

      <!--******************************************************************-->
      <!--TITOLO DEL VIAGGIO-->
      <!--******************************************************************-->
      <wizard-step stepTitle="Titolo del viaggio" class="text-center"  >

        <div class="mt-3 p-4">
          <h2>Titolo del viaggio</h2>
        </div>

        <input type="text"
               name="title"
               id="title"
               class="form-control"
               aria-describedby="Titolo"
               placeholder="Titolo del viaggio"
               required
               [(ngModel)]="title"
        >
        <div class="mt-3">
          <button [hidden]="!title" type="button" class="btn" (click)="preinsert()" nextStep>Prosegui</button>
        </div>

      </wizard-step>



      <!--******************************************************************-->
      <!--DESCRIZIONE BREVE DEL VIAGGIO-->
      <!--******************************************************************-->
      <wizard-step stepTitle="Descrizione breve del viaggio" class="text-center"    >

        <div class="mt-3 p-4">
          E' il momento di inserire la breve descrizione  del tuo viaggio! Raccontaci in poche righe com'è andata in <b>{{title}}</b>
        </div>

        <textarea
          name="shortdescription"
          id="shortdescription"
          class="form-control"
          aria-describedby="Descrizione"
          placeholder="Breve descrizione"
          required
          [(ngModel)]="shortdescription"
        >
      </textarea>

        <div class="mt-3">
          <button [hidden]="!shortdescription" type="button" class="btn" nextStep>Prosegui</button>
        </div>

      </wizard-step>

      <!--******************************************************************-->
      <!--DESCRIZIONE DEL VIAGGIO-->
      <!--******************************************************************-->
      <wizard-step stepTitle="Descrizione del viaggio" class="text-center"    >

        <div class="mt-3 p-4">
          E' il momento di inserire la descrizione del tuo viaggio! Raccontaci com'è andata in <b>{{title}}</b>
        </div>

        <textarea
          name="description"
          id="description"
          class="form-control"
          aria-describedby="Descrizione"
          placeholder="Descrizione"
          required
          [(ngModel)]="description"
        >
      </textarea>

        <div class="mt-3">
          <button [hidden]="!description" type="button" class="btn " nextStep>Prosegui</button>
        </div>

      </wizard-step>


      <!--******************************************************************-->
      <!--SCOPO -->
      <!--******************************************************************-->
      <wizard-step stepTitle="Scopo del viaggio" class="text-center" >
        <div class="mt-3 p-4">
          <h2>Scopo del viaggio</h2>
        </div>

        <div class="text-left row">
          <div *ngFor="let curr_scopo of list_scopo; let i = index" class="col-md-2">

            <img class="icon customicon" src="{{customIconPath + curr_scopo.icona}}"/>

            <label >
              <input type="checkbox"
                     name="scopo"
                     value="{{curr_scopo.id}}"
                     [checked]="curr_scopo.stato"
                     (click)="updateScopoOptions(i , $event)"
              />
              {{curr_scopo.value}}
            </label>
          </div>
        </div>

        <div class="mt-3">
          <button [hidden]="scopi.length == 0" type="button" class="btn mt-3" nextStep>Prosegui</button>
        </div>

      </wizard-step>


      <!--******************************************************************-->
      <!--KEYWORDS -->
      <!--******************************************************************-->
      <wizard-step stepTitle="Caratteristiche del viaggio" class="text-center" >
        <div class="mt-3 p-4">
          Dammi ancora qualche informazione sul tipo di viaggio... quali sono le parole chiave che lo identificano?
        </div>
        <div class="text-left row">
          <div *ngFor="let curr_key of list_keyword; let i = index" class="col-md-2">
            <img class="icon customicon" src="{{customIconPath + curr_key.icona}}"/>
            <label>
              <input type="checkbox"
                     name="keyword"
                     value="{{curr_key.id}}"
                     [checked]="curr_key.stato"
                     (click)="updateKeywordOptions(i, $event)"
              />
              {{curr_key.value}}
            </label>
          </div>
        </div>

        <div class="mt-3">
          <button [hidden]="keywords.length ==0" type="button" class="btn mt-3" nextStep>Prosegui</button>
        </div>

      </wizard-step>


      <!--******************************************************************-->
      <!--CONSIGLIATO A.. -->
      <!--******************************************************************-->
      <wizard-step stepTitle="Consigliato a..." class="text-center" >
        <div class="mt-3 p-4">
          A chi  consiglieresti questo tipo di viaggio?
        </div>
        <div class="text-left row">
          <div *ngFor="let curr_consiglio of list_consigliatoa; let i = index" class="col-md-3">
            <img class="icon customicon" src="{{customIconPath + curr_consiglio.icona}}"/>
            <label>
              <input type="checkbox"
                     name="consigliato"
                     value="{{curr_consiglio.id}}"
                     [checked]="curr_consiglio.stato"
                     (click)="updateConsigliatoa(i, $event)"
              />
              {{curr_consiglio.value}}
            </label>
          </div>
        </div>
        <div class="mt-3">
          <button [hidden]="consigliatoa.length == 0 "type="button" class="btn mt-3" nextStep>Prosegui</button>
        </div>

      </wizard-step>



      <!--******************************************************************-->
      <!--rate -->
      <!--******************************************************************-->
      <wizard-step stepTitle="Giudizio" class="text-center" >
        <div class="mt-3 p-4">
          Come giudichi questo viaggio?
        </div>
        <div class="text-left row">
          <div class="col-md-2 text-center">
            <label> <input type="radio" name="rate" [value]="1"  [(ngModel)]="rate" /></label>
            <i class="material-icons rate">star_rate</i>
          </div>
          <div class="col-md-2 text-center">
            <label> <input type="radio" name="rate" [value]="2"  [(ngModel)]="rate"/></label>
            <i class="material-icons rate">star_rate</i><i class="material-icons rate">star_rate</i>
          </div>
          <div class="col-md-2 text-center">
            <label> <input type="radio" name="rate" [value]="3"  [(ngModel)]="rate"/></label>
            <i class="material-icons rate">star_rate</i><i class="material-icons rate">star_rate</i><i class="material-icons rate">star_rate</i>
          </div>
          <div class="col-md-2 text-center">
            <label> <input type="radio" name="rate" [value]="4"  [(ngModel)]="rate"/></label>
            <i class="material-icons rate">star_rate</i><i class="material-icons rate">star_rate</i><i class="material-icons rate">star_rate</i><i class="material-icons rate">star_rate</i>
          </div>
          <div class="col-md-2 text-center">
            <label> <input type="radio" name="rate" [value]="5"  [(ngModel)]="rate"/></label>
            <i class="material-icons rate">star_rate</i><i class="material-icons rate">star_rate</i><i class="material-icons rate">star_rate</i><i class="material-icons rate">star_rate</i><i class="material-icons rate">star_rate</i>
          </div>
          <div class="col-md-2 text-center">
            <label> <input type="radio" name="rate" [value]="6"  [(ngModel)]="rate"/></label>
            <i class="material-icons rate">star_rate</i><i class="material-icons rate">star_rate</i><i class="material-icons rate">star_rate</i><i class="material-icons rate">star_rate</i><i class="material-icons rate">star_rate</i> <i class="material-icons rate">star_rate</i>
          </div>



        </div>
        <div class="mt-3">
          <button [hidden]="!rate" type="button" class="btn mt-3"  (click)="saveTravel()"  nextStep>Prosegui</button>
        </div>

      </wizard-step>


      <!--******************************************************************-->
      <!--FINE -->
      <!--******************************************************************-->
      <wizard-step stepTitle="FINE"  class="text-center">

        <h2>COMPLIMENTI!</h2>

        <h4 class="m-3">Hai inserito tutte le informazioni per descrivere il tuo viaggio. Fra un attimo potrai caricare foto e video!</h4>

        <button type="button" class="btn btn-success btn-lg m-2"   >FINE</button>
      </wizard-step>
    </wizard>

  </form>
</div>
