#search{
font-size: 15pt;
    line-height: 1.85em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    width: 40vw !important;
    height: 56px;
    border-radius: 5px;
    padding: 5px;

}


.travel-card{
    background-color: whitesmoke;
}

.mat-card-actions{
    margin: 0px !important;
}

/* .nav_bar{
    background-color: orangered;

} */


#headernav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 43px;
    z-index: 2500;
    background-color:#f79203;


    color: whitesmoke;
    text-decoration: dotted;
}

.container {
  /*margin-top: 80px !important;*/
}

.navbar > .container, .navbar > .container-fluid {
  display: -webkit-box !important;
}

.profilo{
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 425px) {
    #search{
    width: 80vw !important;
}






}
