<div class="row justify-content-center">
  <div class="col-12">

    <div class="loader" [hidden]="!loading"></div>

    <mat-card *ngFor="let travel of travels" class="travel-card" >

      <div class="pull-right">
           <span *ngIf="travel.tappe">
              <i  class="material-icons">location_on</i> {{travel.tappe.length}}
            </span>

        <br>

        <span *ngFor="let obj of travel.consigliatoa">
              <img width="30" src="{{customIconPath + obj.icona}}" title="{{obj.value}}">
            </span>
      </div>


      <mat-card-header>
        <div md-card-avatar></div>





        <mat-card-title class="display-3"><a href="#" routerLink="/travel/{{travel.id}}">{{travel.title}}</a></mat-card-title>
        <mat-card-subtitle>{{travel.user.name }}</mat-card-subtitle>
      </mat-card-header>
      <div class="row pr-4">
        <div class="col">
          <mat-card-content>
            <div *ngIf="travel.description" class="mb-3">
              {{(travel.description.length > 6) ? (travel.description | slice:0:600)+'...':(travel.description)}}
            </div>



            <div *ngFor="let obj of travel.keywords" class="keyico">
              <img width="30" src="{{customIconPath + obj.icona}}" title="{{obj.value}}">
              {{obj.value}}
            </div>


          </mat-card-content>

        </div>
        <div class="col ">
          <img src="{{travelCoverPath + travel.cover}}" class="img-fluid img-thumbnail" alt="{{travel.title}}">

        </div>

      </div>
      <mat-card-actions>
        <div class="action">
          HASHTAG
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
