<div class="row justify-content-center">
  <div class="col-12">

    <div class="loader" [hidden]="!loading"></div>

    <mat-card *ngFor="let travel of travels" class="travel-card" >
      <mat-card-header>
        <div md-card-avatar class=""></div>
        <mat-card-title class="display-3"><a href="#" routerLink="/travel/{{travel.id}}">{{travel.title}}</a></mat-card-title>
        <mat-card-subtitle>{{travel.user.name }}</mat-card-subtitle>
      </mat-card-header>
      <div class="row pr-4">
        <div class="col">
          <mat-card-content>
            <div *ngIf="travel.description">
              {{(travel.description.length > 6) ? (travel.description | slice:0:400)+'...':(travel.description)}}
            </div>






          </mat-card-content>





        </div>
        <div class="col ">
          <img src="{{travelCoverPath + travel.cover}}" class="img-fluid img-thumbnail" alt="{{travel.title}}">

        </div>

      </div>
      <mat-card-actions>
        <div class="row p-0 m-0 action">
          <div class="col-md-1">
            Tappe <br>
            <span *ngIf="travel.tappe">
              <i  class="material-icons">location_on</i> {{travel.tappe.length}}
            </span>
          </div>

          <div class="col-md-3">
            Scopo del viaggio <br>
            <span *ngFor="let obj of travel.scopo">
              <img width="30" src="{{customIconPath + obj.icona}}" title="{{obj.value}}">
            </span>
          </div>

          <div class="col-md-3">
            Parole chiave <br>

            <span *ngFor="let obj of travel.keywords">
              <img width="30" src="{{customIconPath + obj.icona}}" title="{{obj.value}}">
            </span>
          </div>
          <div class="col-md-3">
            Consigliato a <br>
            <span *ngFor="let obj of travel.consigliatoa">
              <img width="30" src="{{customIconPath + obj.icona}}" title="{{obj.value}}">
            </span>
          </div>



        </div>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
