

<div class="container">

  <div class="row">

    <div class="col-md-7">

      <form>



        <div class="form-group">
          <label for="exampleInputEmail1">Titolo del viaggio</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Il Portogallo">
        </div>

        <div class="form-group">
          <label for="exampleTextarea">Descrizione del viaggio</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>



        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            Check me out
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Salva il tuo viaggio!</button>
      </form>

    </div>

    <div class="col-md-5">


      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="upload_copertina($event)"
           [uploader]="uploader_copertina"
           class="well my-drop-zone"
           [style.background-image]="backgroundImg">

        Trascina l'immagine di copertina
      </div>
      <div class="progress" style="">
        <div class="progress-bar-fyl" role="progressbar" [ngStyle]="{ 'width': uploader_copertina.progress + '%' }"></div>
      </div>


      <br>
      <div ng2FileDrop
           [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
           (fileOver)="upload_images($event)"
           [uploader]="uploader"
           class="well my-drop-zone">


        Trascina qui le immagini del viaggio

      </div>
      <div class="progress" style="">
        <div class="progress-bar-fyl" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
      </div>


      <!--<input type="file" ng2FileSelect [uploader]="uploader" multiple  />-->
      <!--<input type="file" ng2FileSelect [uploader]="uploader" />-->

    </div>
  </div>
</div>
