<div class="container">
  <div class="display-3">{{title}}</div>
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="editmode" ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="upload_cover($event)"
           [uploader]="uploader_cover"
           class="well my-drop-zone "
           [style.background-image]="backgroundImg">

        <div [hidden]="cover">Trascian qui l'immagine di copertina del viaggio</div>
      </div>

      <img *ngIf="!editmode" [src]="coverurl"  class="w-100 img-thumbnail"/>

      <div class="progress">
        <div class="progress-bar-fyl" role="progressbar" [ngStyle]="{ 'width': uploader_cover.progress + '%' }"></div>
      </div>

      <div class="lead text-justify">
        {{description}}
      </div>

    </div>

    <div class="col-md-6">
      <app-mappatravel  [editmode]="editmode" [travel_id]='id' ></app-mappatravel>

      <app-gallery [travel_id]='id' ></app-gallery>

      <app-mediaupload *ngIf="editmode" [travel_id]='id' ></app-mediaupload>
    </div>
  </div>
</div>
