<div class="wrapper style1">

  <div class="container">


    <div class="row 200%">
      <div class="12u">
        <article id="main">
          <header>
            <h2><a href="#">Giacomo Prandi</a></h2>
          </header>
        </article>

        <agm-map [id]="mappa" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom"  [fitBounds]="latlngBounds">
          <agm-marker *ngFor="let travel of positions    "
                      [latitude]="travel.latitude"
                      [longitude]="travel.longitude"
                      [title]="travel.title"
                      [iconUrl]="'assets/images/marker.png'"
                      (markerClick)="clickedMarker(travel)"
                      (mouseOver)="showInfo($event, travel  )"
          >


            <agm-snazzy-info-window
              [id]="infowindow"
              [maxWidth]="400"
              [placement]="top"
              [closeWhenOthersOpen]="true"
              [showCloseButton]="true"
              [latitude]=""
              [longitude]=""

            >
              <ng-template>

                <md-card   class="travel-card">
                  <md-card-header>
                    <button type="button" class="close pull-right" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                    <div md-card-avatar class="example-header-image">
                      <a href="#" class="image fit"><img src="assets/images/profilo.jpg" alt="" /></a>
                    </div>
                    <md-card-title>{{travel.title}}</md-card-title>
                    <md-card-subtitle>{{travel.user.name}}</md-card-subtitle>
                  </md-card-header>
                  <md-card-content class="mt-4 p-1">
                    <img md-card-image src="data/travel/{{travel.id}}/cover.jpg" alt="{{travel.title}}">
                  </md-card-content>
                </md-card>
              </ng-template>
            </agm-snazzy-info-window>

          </agm-marker>
        </agm-map>








        <!-- per marker piu complessi -->
        <!-- https://developers.google.com/maps/documentation/javascript/examples/icon-complex -->

        <!--per gallerie di immagini e altro !!!! bello!!!-->
        <!--http://www.unheap.com/media/galleries/-->


      </div>
    </div>
    <hr>
    <div class="row">


      <div class="4u">
        <a href="#" class="image fit"><img src="assets/images/profilo.jpg" alt="" /></a>
      </div>

      <div *ngIf="currentTravel" class="8u">
        <md-card   class="travel-card">
          <md-card-header>
            <div md-card-avatar class="example-header-image">
              <a href="#" class="image fit"><img src="assets/images/profilo.jpg" alt="" /></a>
            </div>
            <md-card-title>{{currentTravel.title}}</md-card-title>
            <md-card-subtitle>{{currentTravel.user.name}}</md-card-subtitle>
          </md-card-header>
          <md-card-content class="mt-4 p-1">
            {{currentTravel.descrizione}}
            <img md-card-image src="data/travel/{{currentTravel.id}}/cover.jpg" alt="{{currentTravel.title}}">
          </md-card-content>
        </md-card>
      </div>


      <div *ngIf="!currentTravel" class="4u">
        Viaggi fatti: 15 <br> Tipo di viaggiatore: Solitario <br> Abito a.... <br> Ho viaggiato con...
      </div>
      <div *ngIf="!currentTravel" class="4u">
        Top 5 viaggi <br>
      </div>


      <div class="4u">
        Viaggi fatti: 15 <br> Tipo di viaggiatore: Solitario <br> Abito a.... <br> Ho viaggiato con...
      </div>
      <div class="4u">
        Top 5 viaggi <br>
      </div>


    </div>


    <hr>
    <div class="row">
      <div class="12u important(mobile)" id="content">

        <app-travel-list></app-travel-list>

      </div>
    </div>

    <hr />
    <div class="row">
      <article class="4u 12u(mobile) special">
        <a href="#" class="image featured"><img src="assets/images/pic07.jpg" alt="" /></a>
        <header>
          <h3><a href="#">Gravida aliquam penatibus</a></h3>
        </header>
        <p>
          Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam porttitor phasellus tempus
          cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
        </p>
      </article>
      <article class="4u 12u(mobile) special">
        <a href="#" class="image featured"><img src="assets/images/pic08.jpg" alt="" /></a>
        <header>
          <h3><a href="#">Sed quis rhoncus placerat</a></h3>
        </header>
        <p>
          Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam porttitor phasellus tempus
          cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
        </p>
      </article>
      <article class="4u 12u(mobile) special">
        <a href="#" class="image featured"><img src="assets/images/pic09.jpg" alt="" /></a>
        <header>
          <h3><a href="#">Magna laoreet et aliquam</a></h3>
        </header>
        <p>
          Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam porttitor phasellus tempus
          cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
        </p>
      </article>
    </div>
  </div>

</div>
