<div class="row">
  <div class="col-12">
    <agm-map [id]="mappa"
             [scrollwheel]="false"
             [zoom]="zoom">

    </agm-map>

    <div   class="form-group mt-2 mb-4">
      <input  placeholder="cerca località" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
    </div>
  </div>
  <!--<div class="col-6">-->

    <!--<div *ngIf="tappe?.length > 0" class="display-5">Tappe</div>-->
<!---->
    <!--<ul >-->
      <!--<li *ngFor="let travel of tappe; let i = index">-->
        <!--<a  [hidden]="!editmode"><i class="fa fa-trash pull-right" (click)="removeTappa(i)"></i></a>-->
        <!--<b>{{travel.location}}</b>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
</div>
