<div id="header" class="">
  <div class="inner">
    <header *ngIf="!results">
      <h1><img src="/assets/images/logo.png" width="400"></h1>
    </header>
    <footer>
      <input type="text" id="search" placeholder="next travel?"  (keyup)="searchTerm$.next($event.target.value)"/>
      <!-- <a href="#banner" class="button circled scrolly">Start</a> -->
      <div  class="col-md-8 offset-md-2 mt-6">
        <app-travel-search-results *ngIf="results" [travels]="results" > </app-travel-search-results>
      </div>

    </footer>
  </div>

  <app-carosello></app-carosello>



</div>




